@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  line-height: 2;
}
body {
  background: rgb(161, 161, 161);
}
h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
video {
  object-fit: fill;
}
.disabled {
  pointer-events: none;
}

.center-content,
.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content {
  flex-direction: column;
  position: relative;
  height: 100%;
}
.transition {
  -moz-transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.overlay-content-courses,
.overlay-content,
.video-container {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.roomContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background: #aca39c;
}
.sceneContainer {
  /*        position: "absolute",
    top: 0,
    width: "120%",
    background: "#FF0000", */
  position: fixed;
  left: 0;
  min-width: 1200px;
  transform: translateX(-8%);
  margin: auto;
  overflow: none;
  width: 120%;
  background: black;
}
.fullscreen-image,
.overlay-container,
.overlay-container3,
.overlay-container4,
.fullscreen-slide {
  position: fixed;

  background-repeat: none;
  background-size: cover;
}
.fullscreen-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.overlay-container,
.overlay-container3,
.overlay-container4 {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.fullscreen-slide {
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.overlay-container {
  background: url("/images/golfClub.jpg") no-repeat center center;
}
.overlay-container3 {
  background: url("/images/Station3.jpg") no-repeat center center;
}
.overlay-container4 {
  background: url("/images/Station4.jpg") no-repeat center center;
}
.overlay-full {
  position: absolute;
  width: 100%;
  height: 100%;

  /* cursor: pointer; */
}
.black {
  background: rgba(0, 0, 0, 1);
}
.white {
  background: rgb(255, 255, 255);
}
.overlay-content,
.overlay-content-courses {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.822);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #102c46;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.23);
  z-index: 1;
  padding: 0 40px 0 40px;
}
.grid-top {
  display: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  margin-top: -80px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 1px 1px 5px #000000a1;
}
.subcontent-image img {
  height: 100px;
}
.infoGraphic-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  top: 45%;
}
.subcontent {
  display: none;
  opacity: 0;
  font-size: 25px;
  line-height: 1.5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.infoBlock {
  background-color: #1a4d74c9;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
  display: none;
}
.infoText {
  font-size: 25px;
}
.infoPerc {
  font-size: 9vw;
}
.overlay-content {
  width: 80%;
  max-width: 1100px;
  height: auto;
  text-align: center;
}
.overlay-content-courses {
  width: 70%;
  max-width: 1000px;
  height: auto;
}
.video-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow: hidden;
}
.asterisk {
  position: absolute;
  bottom: -50px;
  right: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 15px;
  text-shadow: 1px 1px 5px #000000a1;
  opacity: 0;
  display: none;
}
.zindex2 {
  z-index: 2;
}

.zindex3 {
  z-index: 3;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.courseBody {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.courseBody,
.courseBody-header {
  color: #4cad5b;
}
.courseBody-header {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
}

.courseBody li {
  font-size: 27px;
}
.green-line {
  margin-top: 30px;
  background-color: #4cad5b;
  padding: 5px;
  width: 100%;
}
.overlay-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  padding: 20px;
}
.station-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 5px #000000a1;
}
.overlay-logo img {
  width: 120px;
}
.body-sm {
  font-size: 17px;
  line-height: 1.5;
  text-align: left;
}
.body-sm li {
  margin-bottom: 20px;
}
.body-lg {
  font-size: 22px;
}
.body-lg h1 {
  font-size: 33px;
}
.blue-text {
  color: #1b2d50;
  text-align: center;
}
.next {
  position: absolute;
  z-index: 4;
  bottom: 15px;
  right: 15px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
  background-color: #dba15d;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 25px;
  margin: 30px 0 30px 0;
  width: 200px;
  text-align: center;
}
.button:hover {
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.23);
  background-color: #f1a957;
}
.imacButton,
.pulse,
.pulseHollow {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.imacButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse,
.pulseHollow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;

  /*   box-shadow: 0 3px 20px 5px #ffae00, inset 0 0 20px 0px #bbea4c; */
}
.pulse:hover {
  background: rgb(0, 0, 0);
  cursor: pointer;
}
.pulseHollow:hover {
  cursor: pointer;
}
.pointerNone {
  pointer-events: none;
}
.pointerAll {
  pointer-events: all;
}

.landUsePlanning {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  height: 100%;
}
.sitePlan-container {
  width: 90%;
  height: 80%;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
.sitePlan {
  width: 100%;
  height: 100%;
  position: relative;
}
.siteplanBlock {
  position: absolute;
  width: 17vh;
  height: 17vh;
  font-size: 30px;
}
.siteplanBlockSmall {
  position: absolute;
  width: 2vh;
  height: 2vh;
  font-size: 30px;
}
.landUsePlanning-container {
  width: 87%;
  height: 65%;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
.landUseBlock {
}
.overlay-button-container {
  position: absolute;
  width: 100%;
  height: 100%;

  right: 0;
  top: 0;
}
.overlay-button {
  position: absolute;
  cursor: pointer;
  width: 240px;
  height: 100px;
  z-index: 5;
}
.text-popup {
  background-color: rgba(255, 255, 255, 0.959);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  position: absolute;

  left: 0;
  padding: 20px 20px 20px 20px;
  line-height: 1.5;
  display: none;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.23);
  z-index: 10;
}
.text-popup-noimage {
  width: 22vw;
}
.text-popup-image {
  width: 30vw;
}
.text-popup img {
  width: 100%;
}
.closebtn {
  position: absolute;
  top: -20px;
  right: -20px;
}
.closebtn img {
  width: 40px;
}

/* under 900 */
@media only screen and (max-width: 900px) {
  .sceneContainer {
    top: -105%;
  }
}
/* under 1100 */
@media only screen and (max-width: 1100px) {
  .sceneContainer {
    top: 0%;
  }
}
/* over 1100 */
@media only screen and (min-width: 1100px) {
  .sceneContainer {
    top: -5%;
  }
}
/* over 1300 */
@media only screen and (min-width: 1300px) {
  .sceneContainer {
    top: -10%;
  }
}
/* over 1450 */
@media only screen and (min-width: 1450px) {
  .sceneContainer {
    top: -20%;
  }
}

/* over 1450 */
@media only screen and (min-width: 1600px) {
  .sceneContainer {
    top: -30%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.backgroundRoom {
  background: url("/images/background.jpg") no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 */
}
